* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #13131f;
  font-family: Poppins;

  color: #fff;
}

.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

a.btn {
  display: flex;
  text-align: center;
  justify-content: center;

  text-decoration: none;
  background: #8257e6;

  width: 100px;
  color: #fff;
}

.title {
  border-bottom: 2px solid #8257e6;
  border-bottom-width: 3px;
  padding-bottom: 0.8rem;

  margin-bottom: 3rem;

  width: 300px;
}

/* _______________________________________________________________________ */

header {
  height: 20vh;
  /* padding: 2rem 0; */
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav {
  display: none;
}

header .container button {
  border: 0;
  padding: 0.6rem;

  background: transparent;
  color: #fff;

  font-size: 1.5rem;
}

.banner-principal {
  padding: 2rem 0;
}

.banner-principal h1 {
  margin-bottom: 1rem;
}

.banner-principal p {
  color: #c4c4c4;
}
.section-naped .container {
  display: flex;
  flex-direction: column;
}

.section-naped .bg-hero-1 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-1.svg);
  background-size: 100%;
  height: 21vh;

  padding: 1rem;
}

.section-naped .bg-hero-1 p,
.section-naped .bg-hero-2 p {
  display: none;
}

.section-naped .bg-hero-2 {
  margin-top: 2rem;
}

.bg-hero-2 {
  display: flex;
  flex-direction: column;
}

.bg-hero-2 .bg-2 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-2.svg);
  background-size: 100%;
  height: 21vh;

  padding: 1rem;
}

.bg-hero-2 .bg-3 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-3.svg);
  background-size: 100%;
  height: 21vh;

  padding: 1rem;
  margin-top: 2rem;
}

/* SECTION DESTAQUE */
.section-destaque {
  padding: 3rem 0;

  margin-top: 2rem;
}

.section-destaque .destaque {
  display: flex;
  flex-direction: column;
}

.section-destaque .destaque .card {
  background-color: #13131f;
}

.section-destaque .destaque .card .card-img {
  height: 25vh;
  margin-bottom: 1rem;
  padding: 1rem;
}

.section-destaque .destaque .card h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.section-destaque .destaque .card + .card {
  margin-top: 2rem;
}

.section-destaque .destaque .card .card-content a {
  display: flex;
  width: 150px;

  background-color: #8257e6;
  text-align: center;
  justify-content: center;

  margin-top: 1rem;

  color: #fff;
  text-decoration: none;
}

.section-destaque .destaque .card .card-content small {
  display: flex;
  margin: 1rem 0 !important;
  color: #c4c4c4;
}

/* FUNDOS */
.bg-4 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-4.svg);
  background-size: 100%;
}

.bg-5 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-5.svg);
  background-size: 100%;
}

.bg-6 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-6.svg);
  background-size: 100%;
}

.bg-7 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-7.svg);
  background-size: 100%;
}

.bg-8 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-8.svg);
  background-size: 100%;
}

/* ASIDE DESTAQUE */
.aside-destaque {
  margin-top: 4rem;
}

.aside-destaque .cards {
  display: flex;
  flex-direction: column;
}

.aside-destaque .cards .card {
  padding: 1rem;
  height: 30vh;
}

.aside-destaque .cards .card + .card {
  margin-top: 2rem;
}

.bg-9 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-9.svg);
  background-size: 100%;

  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.bg-10 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-10.svg);
  background-size: 100%;

  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.bg-11 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-11.svg);
  background-size: 100%;

  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

/* NOTICIAS */
.noticias .container .cards-noticia {
  display: flex;
  flex-direction: column;
}

.noticias .container .cards-noticia .card {
  margin-bottom: 2rem;
  height: 30vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;
}

.bg-13 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-13.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-14 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-14.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-15 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-15.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-16 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-16.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-17 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-17.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-18 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-18.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* FOOTER */
footer {
  padding: 6rem 0 3rem 0;
}

footer h1 {
  color: #8257e6;
}

footer .container {
  text-align: center;
}
