* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #13131f;
  font-family: Poppins;

  color: #fff;
}

.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

a.btn {
  display: flex;
  text-align: center;
  justify-content: center;

  text-decoration: none;
  background: #8257e6;

  width: 100px;
  color: #fff;
}

/* _______________________________________________________________________ */

header {
  padding: 2rem 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav {
  display: none;
}

header .container button {
  border: 0;
  padding: 0.6rem;

  background: #8257e6;
  color: #fff;
}

.banner-principal {
  padding: 2rem 0;
}

.banner-principal h1 {
  margin-bottom: 1rem;
}

.banner-principal p {
  color: #c4c4c4;
}
.section-naped .container {
  display: flex;
  flex-direction: column;
}

.section-naped .bg-hero-1 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-1.svg);
  background-size: 100%;
  height: 21vh;

  padding: 1rem;
}

.section-naped .bg-hero-1 p,
.section-naped .bg-hero-2 p {
  display: none;
}

.section-naped .bg-hero-2 {
  margin-top: 2rem;
}

.bg-hero-2 {
  display: flex;
  flex-direction: column;
}

.bg-hero-2 .bg-2 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-2.svg);
  background-size: 100%;
  height: 21vh;

  padding: 1rem;
}

.bg-hero-2 .bg-3 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-3.svg);
  background-size: 100%;
  height: 21vh;

  padding: 1rem;
  margin-top: 2rem;
}

/* SECTION DESTAQUE */
.section-destaque {
  padding: 3rem 0;

  margin-top: 2rem;
}

.section-destaque .destaque {
  display: flex;
  flex-direction: column;
}

.section-destaque .destaque .card {
  background-color: #13131f;
}

.section-destaque .destaque .card .card-img {
  height: 25vh;
  margin-bottom: 1rem;
  padding: 1rem;
}

.section-destaque .destaque .card h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.section-destaque .destaque .card + .card {
  margin-top: 2rem;
}

.section-destaque .destaque .card .card-content a {
  display: flex;
  width: 150px;

  background-color: #8257e6;
  text-align: center;
  justify-content: center;

  margin-top: 1rem;

  color: #fff;
  text-decoration: none;
}

.section-destaque .destaque .card .card-content small {
  display: flex;
  margin: 1rem 0 !important;
  color: #c4c4c4;
}

/* FUNDOS */
.bg-4 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-4.svg);
  background-size: 100%;
}

.bg-5 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-5.svg);
  background-size: 100%;
}

.bg-6 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-6.svg);
  background-size: 100%;
}

.bg-7 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-7.svg);
  background-size: 100%;
}

.bg-8 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-8.svg);
  background-size: 100%;
}

/* ASIDE DESTAQUE */
.aside-destaque {
  margin-top: 4rem;
}

.aside-destaque h1 {
  border-bottom: 2px solid #8257e6;
  border-bottom-width: 3px;
  padding-bottom: 0.8rem;

  margin-bottom: 3rem;

  width: 200px;
}

.aside-destaque .cards {
  display: flex;
  flex-direction: column;
}

.aside-destaque .cards .card {
  padding: 1rem;
  height: 30vh;
}

.aside-destaque .cards .card + .card {
  margin-top: 2rem;
}

.bg-9 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-9.svg);
  background-size: 100%;

  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.bg-10 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-10.svg);
  background-size: 100%;

  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.bg-11 {
  background-position: center;
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(../image/bg-11.svg);
  background-size: 100%;

  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1330px) {
  .container {
    max-width: 1120px;
    width: 100%;

    margin: 0 auto;
  }

  header button {
    display: none;
  }

  header .container nav {
    display: block;
  }

  header .container nav a {
    color: #fff;
    text-decoration: none;
  }

  header .container nav a + a {
    margin-left: 3rem;
  }

  header .container nav a.active {
    border-bottom: 2px solid #8257e6;
    padding-bottom: 0.25rem;
  }

  header .container nav a:last-child {
    border: 1px solid #fff;
    padding: 0.25rem 1rem;

    border: 1px solid #8257e6;
    box-sizing: border-box;
    border-radius: 30px;
  }

  /* BANNER-PRINCIPAL */
  .banner-principal {
    height: 50vh;
  }

  .banner-principal h1 {
    font-size: 3rem;
    width: 400px;
  }

  .banner-principal p {
    width: 500px;

    font-size: 1.2rem;
  }

  /* NAPED */
  .section-naped {
    height: 55vh;
  }

  .section-naped .container {
    flex-direction: row;
  }

  .section-naped .bg-hero-1 {
    width: 70%;
    height: 54.8vh;

    background-size: 130%;
    background-position: center;

    margin-right: 2rem;
  }

  .section-naped .bg-hero-2 {
    width: 30%;
    margin: 0;
  }

  .bg-hero-top,
  .bg-hero-bottom {
    height: 25vh !important;
  }

  .bg-1 p,
  .bg-2 p,
  .bg-3 p {
    display: block !important;
  }

  .bg-1,
  .bg-2,
  .bg-3 {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  /* DESTAQUE */
  .section-destaque .container {
    display: flex;
    flex-direction: row;
  }

  .section-destaque .destaque {
    width: 70%;
    margin-right: 2rem;

    height: auto;
    padding-right: 1rem;
    overflow-y: scroll;

    height: 112vh;
  }

  /*  */

  .section-destaque .destaque .card {
    display: flex;
    padding: 0;
  }

  .section-destaque .aside-destaque {
    width: 30%;
    margin: 0;
  }

  .section-destaque .aside-destaque .card {
    width: 100% !important;
  }
}
